{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
	<header>
		<h1>О какком то блоге</h1>
	</header>
	<article>
		<p>Какойто блог это здорово.
			<br>
			<br>
			ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ
			- ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ
			- ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ
			- ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ - ЛЯ</p>
	</article>
{% endblock %}