{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Добавляем коментраий для .............{% endblock%}

{% block body %}
	<h1>Добавляем коментраий для "{{ comment.blog.title }}"</h1>
	{% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}